body {
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
    align-content: center;
    background: LightBlue;
}

.row_fields {
    padding-top: 10px;
}

.row_buttons {
    padding-top: 20px;
}

