/*Resetando os valores de espaçamento */
* {
    margin: 0;
    padding: 0;
}

.logout {
    text-align: right;
    margin-top: 10px;
}

.logoitem {
    float: left;
    width: 210px;
}

.logoutitem{
    float:right;
    width:500px;
}

.divisor {
    clear: both;
}

/* Fazendo o logotipo ficar responsivo*/
.logo {
    max-width: 700px;
}

    .logo img {
        max-width: 100% !important;
    }

/*Estilizando a nav da classe menu */
.menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: 'Arial';
}

/*Estilizando as listas */
    .menu ul {
        list-style: none;
        position: relative;
    }

.menu ul li {
    width: 120px;
    float: left;
}

.menu a {
    padding: 14px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.menu ul ul {
   position: absolute;
   visibility: hidden;
}

.menu ul li:hover ul {
   visibility: visible;
}

.menu a:hover {
   background-color: #f4f4f4;
   color: #555;
}

.menu ul ul li {
   float: none;
   border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
   background-color: #069;
}

/*Criando o label */
label[for='bt_menu'] {
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu {
    display: none;
    
    
}

label[for='bt_menu'] {
    display: none;
    padding-top: 3% !important;
    border-radius: 9% !important;
    margin-left:1%
}

/*Deixando o Menu Responsivo */
@media(max-width: 800px) {
    .logout {
        text-align: left;
        margin-top: 10px;
        display: inline-block !important;
    }

    .logout span {
        display: table;
    }

    label[for='bt_menu'] {
        display: block;

    }

    #bt_menu:checked ~ .menu {
        margin-left: 0;
        
    }

    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

        .menu ul li {
            width: 100%;
            float: none;
        }

        .menu ul ul {
            position: static;
            overflow: hidden;
            max-height: 0;
            transition: all .4s;
        }

        .menu ul li:hover ul {
            height: auto;
            max-height: 200px;
        }
}